.contact{
    margin : 0;
    padding : 0;
    background-color: #f1dfdf;
    
}

.map{
    height: 500px;
    width : 50%;
    
   
}
.gg{
    font-family : firasan;
}

.btn{
    width : 100px;
    height :50px;
    

}

